<%- include('header') %>
<a class="btn btn-light btn-lg float-right pull-right"href="/logout" role="button">Log Out</a>
<div class="jumbotron text-center">
  <div class="container">
    <i class="fa fa-user-secret fa-9x" aria-hidden="true"></i>
    <h1 class="display-3">welcome everyone to a place where everyone are welcome. </h1>
    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>
    <% }) %>
    <hr>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>
<%- include('footer') %>
